body{
    background:rgb(161, 118, 180);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.assignment{
    display:flex;
    flex-wrap:wrap;
}
.assignment {
width:22%;
 padding:10px;
 margin:10px;
 padding:20px 10px;
 background:lightsteelblue;
 border-radius:5px;
}

.assignment img{
    width:200px;
    padding:10px;
    border:4px solid royalblue;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:4px dashed #f2f2f2
}

h1{
    color: darkslategrey;
    text-align:center;
}
h1:hover {
    color:indigo;
}
h2{
    color:darkslategrey;
    text-align:center;
}

a {
    text-decoration:none;
    color: royalblue;
}

a:hover {
    color:whitesmoke;
}