body{
    background:rgb(161, 118, 180);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:rgb(203, 206, 209);
    text-align:center;
}
h2{
    color:rgb(203, 206, 209);
    text-align:center;
}