body{
    background:rgb(161, 118, 180);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.assignment {
 padding:10px;
 margin:10px;
 background:lightsteelblue;
}

.assignment img{
    width:300px;
    padding:10px;
}

h1{
    color:rgb(203, 206, 209);
    text-align:center;
}
h2{
    color:rgb(203, 206, 209);
    text-align:center;
}